# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django secret key and settings overrides
*.env
.env.local
.env.production
.env.*.local
/config/settings/local.py

# Database files
*.sqlite3
db.sqlite3

# Logs and debug files
*.log
logs/
debug.log

# Compiled code and caches
*.pyc
*.pyo
*.pyd
*.cache
*.coverage
*.tox
coverage.xml

# Static and media files
/static/
media/

# Ignore collected static files (if using `collectstatic`)
/staticfiles/
node_modules/

# IDE and editor files
.vscode/
.idea/
*.iml

# MacOS system files
.DS_Store

# pipenv & poetry
Pipfile
Pipfile.lock
poetry.lock

# Docker files
*.pid
celerybeat-schedule

# Migrations (optional, but recommended to keep)
**/migrations/__pycache__/
